@import '../node_modules/antd/dist/antd.min.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(255, 178, 11);
  color: rgb(0, 28, 155);
  font-family: Arial, Helvetica, sans-serif;
}
